@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


body{
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
      Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic",
      sans-serif;
  margin: 0;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5b78f4;
  padding: 3px 24px;
}



.navbar__menu{
  font-size:16px;
  color:white;
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.navbar__menu :hover{
  color:#181427;
}

.navbar__menu li{
  padding: 8px 12px;
}

.navbar__menu li:hover{
  background-color:#a5b0e8;
  border-radius: 4px;
}

.navbar__icons{
  list-style: none;
  display: flex;
  filter: invert();
  padding: 0px;
}

.navbar__icons li{
  padding: 3px 4px
}

.navbar__toggleBtn{
  position: absolute;
}

.navbar__toggleBtn{
  position: absolute;
  right: 32px;
  filter: invert();
  display: none;
}

@media screen and (max-width:768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 25px;
    }

  .navbar__menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li{
    width: 100%;
    text-align: center;
  }

  .navbar__icons{
    display: none;
    justify-content: center;
    width: 100%;
  }

.navbar__toggleBtn{
  padding-top: 8px;
  display: block;
}

.navbar__menu.active{
  display: block;
}
.navbar__icons.active{
  display: flex;
  justify-content: center;
  width: 100%;

}

}
